@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--slide-height: 19rem;
	--slide-spacing: 1rem;
	--slide-size: 65%;
}

* {
	@apply subpixel-antialiased;
}

body {
	@apply scroll-smooth bg-white font-roboto text-neutral-950 dark:bg-neutral-950 dark:text-white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	@apply h-0 w-0;
}

*::-webkit-scrollbar-track {
	@apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
	@apply bg-[rgba(0,0,0,0)];
}

@supports (scrollbar-width: thin) and (scrollbar-color: rgba(0, 0, 0, 0.2)) {
	/* Firefox */
	* {
		scrollbar-width: none;
		scrollbar-color: rgba(0, 0, 0, 0);
	}
}

html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
}

.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition:
		transform 0.3s,
		opacity 0.3s;
	opacity: 0;
}

.c-scrollbar:hover {
	transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
